/*Change font*/
div#root {
  font-family: Comic Sans MS;
}

/*Board the content of blog post*/
.post1 > span,
.post2 > span,
.post3 > span {
  border: solid black;
  display: inline-block;
  width: 70%;
  position: relative;
}

span h3,
.post1 p:last-child,
.post2 p:last-child,
.post3 p:last-child {
  margin: 0;
}

.post1 #red {
  color: red;
}

#bold {
  font-weight: bold;
}

/*Create box inside the board*/
div.box {
  position: absolute;
  border: 2px solid black;
  display: inner-block;
  margin-top: 5px;
  width: 70px;
  right: 30.2%;
  height: 70px;
}

/*First gray diagonal line */
.box::after {
  content: "";
  position: absolute;
  border-top: 3px solid gray;
  width: 98px;
  transform: rotate(45deg);
  transform-origin: left;
}

/*Second gray diagonal line */
.box::before {
  content: "";
  position: absolute;
  border-top: 3px solid gray;
  top: 20px;
  left: -20px;
  width: 98px;
  transform: rotate(-45deg);
  transform-origin: 70%;
}

/*Positioning "Latest" section*/
.latest {
  position: absolute;
  top: 27px;
  right: 15%;
}

/*Stye for the line under latest section*/
.line {
  position: absolute;
  border-top: 3px solid black;
  width: 11%;
  top: 250px;
  right: 15%;
}

/*Positioning "Popular" section*/
.popular {
  position: absolute;
  top: 250px;
  right: 15%;
}

#login {
  margin-right: 5px;
  position: relative;
  float: right;
}
